---
layout: page
title: About
description: About page for this editor.
---
<a href="/" class="btn btn-warning" style="border-radius: 1000px">
    <span style="font-size: 2em; vertical-align: middle" class="fa fa-angle-left"></span>
    &nbsp;<span style="vertical-align: middle">Back</span>
</a>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-12 nopadding">
                <p>
                    <h3>Project</h3>
                </p>
                <p>Animated <a target="_blank" href="https://cssicon.space/#/">Css Icons</a> by <a target="_blank"
                        href="https://twitter.com/DesignJokes">Wenting Zhang</a></p>
                <p><a target="_blank" href="https://ksp-part-catalog.space">KSP Part catalog</a></p>
                <p><a target="_blank" href="https://json-gui.esstudio.site">JSON Gui</a></p>
                <p><a target="_blank" href="https://bunkersem.github.io/mouse-mania/">Mouse mania</a></p>
                <p><a href="https://protected-url.herokuapp.com/" target="_blank">Protected url</a></p>
                <p><a href="https://esstudio.site/json2csv/" target="_blank">JSON2CSV</a></p>
                <p><a href="https://ycae.esstudio.site/" target="_blank">Youtube Comments Are Evil</a></p>
                <p><a href="https://esstudio.site/echochamber-affinity/" target="_blank">Echochamber
                        Affinity</a></p>
                <p><a href="https://esstudio.site/laika-notes/" target="_blank">Laika Notes</a></p>
                <p><a href="https://esstudio.site/ov-fiets-app/" target="_blank">OV Fiets App</a></p>

                <p><a target="_blank" href="http://bunkersem.github.com/portfolio">More projects</a></p>
            </div>
            <div class="col-sm-4 col-xs-12 nopadding">
                <p>
                    <h3>Other</h3>
                </p>
                <p><a target="_blank" href="https://github.com/bunkersem/">Github</a></p>
                <p><a target="_blank" href="https://www.youtube.com/user/9Wereld/videos">Youtube</a></p>
                <p>
                    <a target="_blank" href="https://bunkersem.github.io/portfolio/">My Portfolio</a>
                </p>
                <p>
                    <a target="_blank" href="https://play.google.com/store/apps/developer?id=EchoSierraStudio">Apps</a>
                </p>
                <p>
                    <a target="_blank" href="https://sketchfab.com/Afirus">Sketchfab</a>
                </p>
                <p>
                    <a target="_blank" href="https://www.sololearn.com/Profile/1157573">SoloLearn</a>
                </p>
            </div>
            <div class="col-sm-4 col-xs-12 nopadding">
                <p>
                    <h3>Social<h3>
                </p>
                <div>{% include social.html %}</div>
                <p>
                    <h4>Sharing</h4>
                </p>
                <div id="sharing">
                    {% include share.html %}
                </div>
            </div>
        </div>
    </div>
</div>