<div style="display: none;" id="loader"></div>


<div id="msg-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Image Modal -->
<div id="imgmodal" class="modal" role="dialog" aria-expanded="false">
    <span class="close">&times;</span>
    <figure class="modal-content" id="modal-img" role="figure" aria-describedby="caption"></figure>
    <div id="modal-caption" role="contentinfo"></div>
</div>
<noscript>
    <!-- The No-Script Modal -->
    <div id="noscript-modal" class="modal" role="dialog" aria-expanded="true" style="display: block; position: fixed; z-index: 1000; padding-top: 100px; left: 0px; top: 0px; width: 100%; height: 100%; overflow: auto; background-color: rgba(0, 0, 0, 0.9); transition: padding-top 100ms ease-out; box-sizing: border-box; font-family: 'Ubuntu', sans-serif, Verdana, Geneva, Tahoma;">
        <div class="modal-content" style="margin: auto; display: block; width: 80%; max-width: 700px; padding: 40px; background: white; box-sizing: border-box; ;">
            <h2 class="text-danger mt-1 mb-4" style="color: rgb(236, 78, 32); margin-top: 6px; margin-bottom: 36px; box-sizing: border-box; ;">Important!</h2>
            <p class="noscript-msg" style="box-sizing: border-box;">
                This site requires JavaScript. Here are the
                <a href="https://www.enable-javascript.com/" target="_blank" class="text-primary" style="background-color: transparent; color: rgb(1, 111, 185); box-sizing: border-box; text-decoration: none; ;">
                    instructions on how to enable JavaScript in your web browser</a>.
            </p>
        </div>
    </div>
</noscript>

<!-- new item modal -->
<div id="new-item-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">New Item</h4>
            </div>
            <div class="modal-body">
                <div id="new-item-modal-tabs-wrapper">
                    <!-- Nav tabs -->
                    <ul class="modal-tabs nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#bool-tab-pane" aria-controls="bool-tab-pane" role="tab" data-toggle="tab">True Or False</a>
                        </li>
                        <li role="presentation">
                            <a href="#string-tab-pane" aria-controls="string-tab-pane" role="tab" data-toggle="tab">Text</a>
                        </li>
                        <li role="presentation">
                            <a href="#number-tab-pane" aria-controls="number-tab-pane" role="tab" data-toggle="tab">Number</a>
                        </li>
                        <li role="presentation">
                            <a href="#object-tab-pane" aria-controls="object-tab-pane" role="tab" data-toggle="tab">Object</a>
                        </li>
                        <li role="presentation">
                            <a href="#array-tab-pane" aria-controls="array-tab-pane" role="tab" data-toggle="tab">List</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="bool-tab-pane">
                            <form id="bool-submit" action="">
                                <input type="hidden" style="display: none;" name="type" readonly value="boolean">
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input type="text" class="form-control" name="name" id="name" required>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input id="val" name="val" type="checkbox"> Value</label>
                                </div>
                                <button type="submit" class="btn btn-primary">Create true/false</button>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="string-tab-pane">
                            <form id="string-submit" action="">
                                <input type="hidden" style="display: none;" name="type" readonly value="string">
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input type="text" class="form-control" name="name" id="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="val">Value:</label>
                                    <textarea class="form-control" rows="1" id="val" name="val"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Create text</button>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="number-tab-pane">
                            <form id="number-submit" action="">
                                <input type="hidden" style="display: none;" name="type" readonly value="number">
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input type="text" class="form-control" name="name" id="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="val">Value:</label>
                                    <input type="number" class="form-control" id="val" name="val" step="any" value="0" required />
                                </div>
                                <button type="submit" class="btn btn-primary">Create number</button>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="object-tab-pane">
                            <form id="object-submit" action="">
                                <input type="hidden" style="display: none;" name="type" readonly value="object">
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input type="text" class="form-control" name="name" id="name" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Create object</button>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="array-tab-pane">
                            <form id="array-submit" action="">
                                <input type="hidden" style="display: none;" name="type" readonly value="array">
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input type="text" class="form-control" name="name" id="name" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Create list</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- string input modal -->
<div id="string-input-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="" id="string-input-modal-form">
                <div class="modal-header">
                    <button type="button" class="close" id="string-input-modal-dismiss" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Modal Title</h4>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">Ok</button>
                    <button id="modal-string-input-cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- confirm modal -->
<div id="confirm-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal-confirm-cancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="modal-confirm-ok" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- alert modal -->
<div id="modal-alert" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container text-white">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <p>
                    <h2>Project :</h2>
                </p>
                <p>
                    <a target="_blank" href="https://github.com/bunkersem/ksp-part-catalog">Contribute (Github)</a>
                </p>
                <p>
                    <a target="_blank" href="https://wiki.kerbalspaceprogram.com/wiki/Parts">KSP Parts Wiki</a>
                </p>
                <p>
                    <a target="_blank" href="{{ " /LICENSE.md " | absolute_url }}">LICENSE</a>
                </p>
                <p>
                    <a target="_blank" href="{{ " /humans.txt " | absolute_url }}">humans.txt</a>
                </p>
            </div>
            <div class="col-sm-4 col-xs-12">
                <p>
                    <h2>Other :</h2>
                </p>
                <p>
                    <a target="_blank" href="https://bunkersem.github.io/portfolio/">My Portfolio</a>
                </p>
                <p>
                    <a target="_blank" href="https://play.google.com/store/apps/developer?id=EchoSierraStudio">Apps</a>
                </p>
                <p>
                    <a target="_blank" href="https://sketchfab.com/Afirus">Sketchfab</a>
                </p>
                <p>
                    <a target="_blank" href="https://www.sololearn.com/Profile/1157573">SoloLearn</a>
                </p>
            </div>
            <div class="col-sm-4 col-xs-12">
                <p>
                    <h2>Social :
                        <h2>
                </p>
                <div>{% include social.html %}</div>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.min.js" integrity="sha256-THlgZSjqt7idNSdnUvGypTuXB5C4hV9kSuPYrbiq19o="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js" integrity="sha256-9p9wUORIjnIRp9PAyZGxql6KgJRNiH04y+8V4JjUhn0="
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.5/isotope.pkgd.min.js" integrity="sha256-KsHewupnZlPcM8HccYY2Q0NXs1L9B9a/l1DGklAZGrw="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js" integrity="sha256-issEYoOUmTZW2tEfIwKfxq0Tz5DPqh9d+JFQsnJ2hKk="
    crossorigin="anonymous"></script>
<script>AOS.init();</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.8.1/parsley.min.js" integrity="sha256-XqEmjxbIPXDk11mQpk9cpZxYT+8mRyVIkko8mQzX3y8="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/parsleyjs@2.8.1/dist/i18n/de.js"></script>
<script src="https://cdn.jsdelivr.net/npm/parsleyjs@2.8.1/dist/i18n/nl.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/codemirror.min.js" integrity="sha256-zxnvghlATD/LUl0T6rkoZF8cKHSCHSPA4ocDtqIcFq0="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/mode/javascript/javascript.min.js" integrity="sha256-2RHOAB6h3ogJE2qJ7jn8U0sr+nsFfF5gqaUMJdekmQs="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsondiffpatch/0.2.5/jsondiffpatch.min.js" integrity="sha256-jLs0YC2LKfFopJCPLdsg5Y4PJtRDRd1TnZ6TVhFDnAk="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsondiffpatch/0.2.5/jsondiffpatch-formatters.min.js" integrity="sha256-B3oOKz0KQtEMVV1v8w1sOngNslMM6S7NdQvWzo+kHwo="
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js" integrity="sha256-AAhU14J4Gv8bFupUUcHaPQfvrdNauRHMt+S4UVcaJb0="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sortable/0.9.13/jquery-sortable-min.js" integrity="sha256-wWIfHlrIpCbyDbt+VSBUsc54ApQZWKqBmF38yUKLGeY="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.7/download.min.js" integrity="sha256-jO7zIwKMJTUQkptQfQMhu+uL4erqSzAd0wUfueDCuNI=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js" integrity="sha256-meF2HJJ2Tcruwz3z4XcxYDRMxKprjdruBHc3InmixCQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/yamljs/0.3.0/yaml.min.js" integrity="sha256-fDg/uZo3GBErK1nydRVMJ6iZcDtOq2u3tWJtql0odec=" crossorigin="anonymous"></script>

<script src="{{ "/assets/js/lib/prism.js" | absolute_url  }}"></script>
<script src="{{ "/assets/js/lib/schema.js" | absolute_url  }}"></script>
<script src="{{ "/assets/js/lib/smoothscroll.js" | absolute_url  }}"></script>
<script src="{{ "/assets/js/obj2xml.js" | absolute_url  }}"></script>
<script src="{{ "/assets/js/obj2csv.js" | absolute_url  }}"></script>
<script src="{{ "/assets/js/util.js" | absolute_url  }}"></script>
<script src="{{ "/assets/js/modals.js" | absolute_url  }}"></script>
<script src="{{ "/assets/js/json-tree.js" | absolute_url  }}"></script>
<script src="{{ "/assets/js/main.js" | absolute_url  }}"></script>