<div style="display: none;" id="loader"></div>


<div id="msg-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Image Modal -->
<div id="imgmodal" class="modal" role="dialog" aria-expanded="false">
    <span class="close">&times;</span>
    <figure class="modal-content" id="modal-img" role="figure" aria-describedby="caption"></figure>
    <div id="modal-caption" role="contentinfo"></div>
</div>
<noscript>
    <!-- The No-Script Modal -->
    <div id="noscript-modal" class="modal" role="dialog" aria-expanded="true" style="display: block; position: fixed; z-index: 1000; padding-top: 100px; left: 0px; top: 0px; width: 100%; height: 100%; overflow: auto; background-color: rgba(0, 0, 0, 0.9); transition: padding-top 100ms ease-out; box-sizing: border-box; font-family: 'Ubuntu', sans-serif, Verdana, Geneva, Tahoma;">
        <div class="modal-content" style="margin: auto; display: block; width: 80%; max-width: 700px; padding: 40px; background: white; box-sizing: border-box; ;">
            <h2 class="text-danger mt-1 mb-4" style="color: rgb(236, 78, 32); margin-top: 6px; margin-bottom: 36px; box-sizing: border-box; ;">Important!</h2>
            <p class="noscript-msg" style="box-sizing: border-box;">
                This site requires JavaScript. Here are the
                <a href="https://www.enable-javascript.com/" target="_blank" class="text-primary" style="background-color: transparent; color: rgb(1, 111, 185); box-sizing: border-box; text-decoration: none; ;">
                    instructions on how to enable JavaScript in your web browser</a>.
            </p>
        </div>
    </div>
</noscript>

<!-- new item modal -->
<div id="new-item-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">New Item</h4>
            </div>
            <div class="modal-body">
                <div id="new-item-modal-tabs-wrapper">
                    <!-- Nav tabs -->
                    <ul class="modal-tabs nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#bool-tab-pane" aria-controls="bool-tab-pane" role="tab" data-toggle="tab">True Or False</a>
                        </li>
                        <li role="presentation">
                            <a href="#string-tab-pane" aria-controls="string-tab-pane" role="tab" data-toggle="tab">Text</a>
                        </li>
                        <li role="presentation">
                            <a href="#number-tab-pane" aria-controls="number-tab-pane" role="tab" data-toggle="tab">Number</a>
                        </li>
                        <li role="presentation">
                            <a href="#object-tab-pane" aria-controls="object-tab-pane" role="tab" data-toggle="tab">Object</a>
                        </li>
                        <li role="presentation">
                            <a href="#array-tab-pane" aria-controls="array-tab-pane" role="tab" data-toggle="tab">List</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="bool-tab-pane">
                            <form id="bool-submit" action="">
                                <input type="hidden" style="display: none;" name="type" readonly value="boolean">
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input type="text" class="form-control" name="name" id="name" required>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input id="val" name="val" type="checkbox"> Value</label>
                                </div>
                                <button type="submit" class="btn btn-primary">Create true/false</button>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="string-tab-pane">
                            <form id="string-submit" action="">
                                <input type="hidden" style="display: none;" name="type" readonly value="string">
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input type="text" class="form-control" name="name" id="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="val">Value:</label>
                                    <textarea class="form-control" rows="1" id="val" name="val"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Create text</button>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="number-tab-pane">
                            <form id="number-submit" action="">
                                <input type="hidden" style="display: none;" name="type" readonly value="number">
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input type="text" class="form-control" name="name" id="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="val">Value:</label>
                                    <input type="number" class="form-control" id="val" name="val" step="any" value="0" required />
                                </div>
                                <button type="submit" class="btn btn-primary">Create number</button>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="object-tab-pane">
                            <form id="object-submit" action="">
                                <input type="hidden" style="display: none;" name="type" readonly value="object">
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input type="text" class="form-control" name="name" id="name" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Create object</button>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="array-tab-pane">
                            <form id="array-submit" action="">
                                <input type="hidden" style="display: none;" name="type" readonly value="array">
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input type="text" class="form-control" name="name" id="name" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Create list</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- string input modal -->
<div id="string-input-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="" id="string-input-modal-form">
                <div class="modal-header">
                    <button type="button" class="close" id="string-input-modal-dismiss" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Modal Title</h4>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">Ok</button>
                    <button id="modal-string-input-cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- confirm modal -->
<div id="confirm-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal-confirm-cancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="modal-confirm-ok" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- alert modal -->
<div id="modal-alert" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container text-white">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <p>
                    <h3>Project</h3>
                </p>
                <p>Animated <a target="_blank" href="https://cssicon.space/#/">Css Icons</a> by <a target="_blank" href="https://twitter.com/DesignJokes">Wenting Zhang</a></p>
                <p><a target="_blank" href="https://ksp-part-catalog.space">KSP Part catalog</a></p>
                <p><a target="_blank" href="https://json-gui.site">JSON Gui</a></p>
                <p><a target="_blank" href="https://bunkersem.github.io/mouse-mania/">Mouse mania</a></p>
                <p><a href="https://protected-url.herokuapp.com/" target="_blank">Protected url</a></p>
                <p><a href="https://esstudio.site/json2csv/" target="_blank">JSON2CSV</a></p>
                <p><a href="https://ycae.esstudio.site/" target="_blank">Youtube Comments Are Evil</a></p>
                <p><a href="https://esstudio.site/echochamber-affinity/" target="_blank">Echochamber Affinity</a></p>
                <p><a href="https://esstudio.site/laika-notes/" target="_blank">Laika Notes</a></p>
                <p><a href="https://esstudio.site/ov-fiets-app/" target="_blank">OV Fiets App</a></p>
                
                <p><a target="_blank" href="http://bunkersem.github.com/portfolio">More projects</a></p>
            </div>
            <div class="col-sm-4 col-xs-12">
                <p>
                    <h3>Other</h3>
                </p>
                <p><a target="_blank" href="https://github.com/bunkersem/">Github</a></p>
                <p><a target="_blank" href="https://www.youtube.com/user/9Wereld/videos">Youtube</a></p>
                <p>
                    <a target="_blank" href="https://bunkersem.github.io/portfolio/">My Portfolio</a>
                </p>
                <p>
                    <a target="_blank" href="https://play.google.com/store/apps/developer?id=EchoSierraStudio">Apps</a>
                </p>
                <p>
                    <a target="_blank" href="https://sketchfab.com/Afirus">Sketchfab</a>
                </p>
                <p>
                    <a target="_blank" href="https://www.sololearn.com/Profile/1157573">SoloLearn</a>
                </p>
            </div>
            <div class="col-sm-4 col-xs-12">
                <p>
                    <h3>Social<h3>
                </p>
                <div>{% include social.html %}</div>
                <p>
                    <h4>Sharing</h4>
                </p>
                <div id="sharing">
                    {% include share.html %}
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<script src="assets/js/bundle.js"></script>