{% assign default_paths = site.pages | map: "path" %}
{% assign page_paths = site.header_pages | default: default_paths %}

<div class="header-wrapper">

    <div style="height: 64px;">
        <nav id="navbar" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ "/" | absolute_url }}">
                        JSON GUI
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% for item in site.data.menu.root %} {% if item.subfolderitems %}
                        <li class="dropdown {% if page.url contains item.baseurl %}active{% endif %}">
                            <a {% if item.id %}id="{{ item.id }}" {% endif %} href="#" class="dropdown-toggle"
                                data-toggle="dropdown" role="button" aria-haspopup="true"
                                aria-expanded="false">{{ item.page }}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% for sub in item.subfolderitems %} {% if sub == "seperator" %}
                                <li role="separator" class="divider"></li>
                                {% else %}
                                <li>
                                    <a {% if sub.id %}id="{{ sub.id }}" {% endif %} {% if sub.external %}target="_blank"
                                        {% endif %} {% if sub.url %} href="{{ sub.url | absolute_url }}" {% else %}
                                        role="button" {% endif %}>
                                        {% if sub.fa %}<span class="fa fa-{{ sub.fa }}"></span>{% endif %}
                                        {{ sub.page }}</a>
                                </li>
                                {% endif %} {% endfor %}
                            </ul>
                        </li>
                        {% else %}
                        <li class="{% if page.url contains item.url %}active{% endif %}">
                            <a {% if item.id %}id="{{ item.id }}" {% endif %} {% if item.external %}target="_blank"
                                {% endif %} {% if item.url %} href="{{ item.url | absolute_url }}" {% else %}
                                role="button" {% endif %}>
                                {{ item.page }} {% if page.url contains item.url %}
                                <span class="sr-only">(current)</span>{% endif %}
                            </a>
                        </li>
                        {% endif %}{% endfor %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a target="blank" href="https://github.com/LesterGallagher/json-gui">
                                Contribute
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.paypal.me/esstudio">
                                {"please": "donate"}
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://bunkersem.github.io/portfolio/contact">
                                Contact (external)
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <header id="banner-content">

    </header>
</div>