
<!DOCTYPE html>
<html class="no-js" lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body id="body-start">

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        <div class="home">
          {{ content }}
        </div>
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>

